/* ESTILOS GENERALES */
.root { -fx-font-family: "Segoe UI", Arial; -fx-font-size: 14px; }

.button {
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.button:hover { -fx-opacity: 0.85; }

.table-view {
    -fx-border-color: #BBDEFB;
    -fx-border-width: 1;
    -fx-border-radius: 3;
}
.table-view .column-header-background { -fx-background-color: #BBDEFB; }
.table-row-cell:filled:hover { -fx-background-color: #E3F2FD; }

.text-field, .password-field, .combo-box, .spinner {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #90CAF9;
}